<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="js-bundle.js"></script>
    <style>
        #mainDiv {
            padding: 20px;
            border: solid medium black;
            font-size: 20pt;
        }
    </style>
</head>
<body class="p-1">
    <h3 class="text-center">Product information</h3>
    <p>Request Time: @DateTime.Now.ToString("HH:mm:ss")</p>
    <div id="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
